<nav class="navbar navbar-light bg-light">
  <%= link_to "YelpMVP", root_path, class: "navbar-brand mb-0 h1"  %>
  <%= link_to "Add Restaurant", new_restaurant_path, class: "btn btn-outline-success" %>
</nav>
